@import 'tailwindcss';

/* --- Loader --- */
.loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--color-pink-200);
    transform-origin: right;
    display: grid;
    animation: l3-0 1.2s infinite linear;
}
.loader::before,
.loader::after {
    content: '';
    grid-area: 1/1;
    background: var(--color-pink-400);
    border-radius: 50%;
    transform-origin: right;
    animation: inherit;
    animation-name: l3-1;
}
.loader::after {
    background: var(--color-pink-600);
    --s: 180deg;
}
@keyframes l3-0 {
    0%,
    20% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes l3-1 {
    50% {
        transform: rotate(var(--s, 90deg));
    }
    100% {
        transform: rotate(0);
    }
}

.reduce-height {
    animation-name: reduce-height;
    animation-timing-function: linear;
}
/* Height 100% to 0 */
@keyframes reduce-height {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

.infinite-scroll {
    animation: scroll 4s linear 1s infinite;
}

@keyframes scroll {
    100% {
        top: 0px;
    } /* top is the number of spans (in this case 8) multiplied by span height (45px as described above)*/
}
